
mma_data/probRBWord4Chunk4to30.m
mma_data/probRBWord3Chunk3to30.m
mma_data/probRBWord2Chunk2to30.m
mma_data/probRB3Chunk3to30fitmodel.m
mma_data/probRB2Chunk2to30fitmodel.m
mma_data/probGNGWord4Chunk4to30.m
mma_data/probGNG3Chunk3to30fitmodel.m
mma_data/probGNG2Chunk2to30fitmodel.m
mma_data/probChar4Chunk4to30fitmodel.m
mma_data/probChar3Chunk3to30fitmodel.m
mma_data/probChar2Chunk2to30fitmodel.m
mathemtica_benchmark.nb
__pycache__/gematria.cpython-310.pyc
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/Is-It-Runeglish.iml
.idea/inspectionProfiles/profiles_settings.xml
*.pyc
raw_scoring_data/ngRB3LogProb.csv
